@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 10px;
    max-width: 500px;
}

form {
    text-align: center;
}

form h1 {
    margin-bottom: 10px;
}

div.resp {
    margin-top: 10px;
    text-align: center;
}