@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

.conteiner {
    display: flex;
    gap: 20px;
}

.bt-copiar {
    background-color: lightblue;
    padding: 10px;
    height: 50px;
    margin: auto;
    border: none;
    border-radius: 10px;
    border: 1px solid #00000093;
}