@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

section.conteiner {
    display: flex;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 3px #00000067;
}

div {
    margin-bottom: 10px;
    text-align: center;
}

div.cursos-disponiveis {
    background-color: #4545c0;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

div.cursos-disponiveis h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

button.bt-mover {
    margin: auto;
    background-color: blue;
    border: 1px solid #00000097;
    padding: 10px;
    color: white;
}

div.cursos-selecionados {
    background-color: #0000ff9d;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

div.cursos-selecionados h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.selecionado {
    background-color: blue;
    padding: 5px;
    border-radius: 10px;
}

@media screen and (max-width: 750px) {
    section.conteiner {
        flex-direction: column;
    }
}